body{
	background: #EBEBEB;
}

.progress-bar{
	height:100vh;
	width:100vw;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	margin:0;
	padding:0;
	background: #CAFBCD;
}

.progress-bar-inner{
	margin:0;
	height:100%;
	background:#4FE17C;
	transition: width ease-in-out;
}

@keyframes flash{
	0%{
		background: #FF022C
	}
	25%{
		background: #FF01E4;
	}
	50%{
		background: #0047FF;
	}
	75%{
		background: #00FF3C;
	}
	100%{
		background: #FFF001;
	}
}

.timer{
	position:absolute;
	top:50%;
	left:50%;
	height:360px;
	width:1150px;
	transform: translate(-50%, -50%);
	background: #020A6F;
	border-radius:20px;
	margin:0;
	padding:30px 20px;
	/*
	-webkit-box-shadow: 0px 0px 94px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 	0px 0px 94px 2px rgba(0,0,0,0.75);
	box-shadow: 		0px 0px 94px 2px rgba(0,0,0,0.75); */
}

.number-outer{
	float:right;
	height:360px;
	width:190px;
	margin:0 20px;
	padding:0;
}
.number-outer-inner{
	position:relative;
	height:360px;
	width:190px;
	margin:0;
	padding:0;
}

.section{
	position:absolute;
	background:#4771DC;
	/*
	-webkit-box-shadow: inset 13px 13px 8px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 13px 13px 8px -12px rgba(0,0,0,0.75);
	box-shadow: inset 13px 13px 8px -12px rgba(0,0,0,0.75); */
}

.horizontal{
	height:30px;
	width:120px;
}

.horizontal::before{
	display:block;
	content:"";
	position:absolute;
	background:#4771DC;
	height:21.5px;
	width:21.5px;
	transform:rotate(45deg);
	top:4px;
	left:-10px;
}

.horizontal::after{
	display:block;
	content:"";
	position:absolute;
	background:#4771DC;
	height:21.6px;
	width:21.6px;
	transform:rotate(45deg);
	top:4px;
	right:-10px;
}

.vertical{
	height:120px;
	width:30px;
}

.vertical::before{
	display:block;
	content:"";
	position:absolute;
	background:#4771DC;
	height:21.5px;
	width:21.5px;
	transform:rotate(45deg);
	top:-10px;
	left:4px;
}

.vertical::after{
	display:block;
	content:"";
	position:absolute;
	background:#4771DC;
	height:21.5px;
	width:21.5px;
	transform:rotate(45deg);
	bottom:-10px;
	left:4px;
}

.top{
	top:0;
	left:50%;
	transform:translateX(-50%);
}

.top-left{
	top:40px;
	left:0;
}

.top-right{
	top:40px;
	right:0;
}

.middle{
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.bottom-left{
	bottom:40px;
	left:0;
}

.bottom-right{
	bottom:40px;
	right:0;
}

.bottom{
	bottom:0;
	left:50%;
	transform:translateX(-50%);
}

.one .top{
	display:none;
}
.one .top-left{
	display:none;
}
.one.top-right{
	display:block;
}
.one .middle{
	display:none;
}
.one .bottom-left{
	display:none;
}
.one .bottom-right{
	display:block;
}
.one .bottom{
	display:none;
}

.two .top{
	display:block;
}
.two .top-left{
	display:none;
}
.two .top-right{
	display:block;
}
.two .middle{
	display:block;
}
.two .bottom-right{
	display:none;
}
.two .bottom-left{
	display:block;
}
.two .bottom{
	display:block;
}

.three .top{
	display:block;
}
.three .top-left{
	display:none;
}
.three .top-right{
	display:block;
}
.three .middle{
	display:block;
}
.three .bottom-left{
	display:none;
}
.three .bottom-right{
	display:block;
}
.three .bottom{
	display:block;
}

.four .top {
	display:none;
}
.four .top-left{
	display:block;
}
.four .top-right{
	display:block;
}
.four .middle{
	display:block;
}
.four .bottom-left{
	display:none;
}
.four .bottom-right{
	display:block;
}
.four .bottom{
	display:none;
}

.five .top{
	display:block;
}
.five .top-left{
	display:block;
}
.five .top-right{
	display:none;
}
.five .middle{
	display:block;
}
.five .bottom-left{
	display:none;
}
.five .bottom-right{
	display:block;
}
.five .bottom{
	display:block;
}

.six .top{
	display:block;
}
.six .top-left{
	display:block;
}
.six .top-right{
	display:none;
}
.six .middle{
	display:block;
}
.six .bottom-left{
	display:block;
}
.six .bottom-right{
	display:block;
}
.six .bottom{
	display:block;
}

.seven .top{
	display:block;
}
.seven .top-left{
	display:none;
}
.seven .top-right{
	display:block;
}
.seven .middle{
	display:none;
}
.seven .bottom-left{
	display:none;
}
.seven .bottom-right{
	display:block;
}
.seven .bottom{
	display:none;
}

.eight .top{
	display:block;
}
.eight .top-left{
	display:block;
}
.eight .top-right{
	display:block;
}
.eight .middle{
	display:block;
}
.eight .bottom-left{
	display:block;
}
.eight .bottom-right{
	display:block;
}
.eight .bottom{
	display:block;
}

.nine .top{
	display:block;
}
.nine .top-left{
	display:block;
}
.nine .top-right{
	display:block;
}
.nine .middle{
	display:block;
}
.nine .bottom-left{
	display:none;
}
.nine .bottom-right{
	display:block;
}
.nine .bottom{
	display:block;
}

.zero .top{
	display:block;
}
.zero .top-left{
	display:block;
}
.zero .top-right{
	display:block;
}
.zero .middle{
	display:none;
}
.zero .bottom-left{
	display:block;
}
.zero .bottom-right{
	display:block;
}
.zero .bottom{
	display:block;
}

























