body{
	background: #fff;
	overflow:hidden;
}

.progress-bar{
	height:100vh;
	width:100vw;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	margin:0;
	padding:0;
	background: #000;
	z-index:1;
	transition:all .2s ease-in-out;
}

.progress-bar-inner{
	margin:0;
	height:100%;
	background:#fff;
	transition: width .2s ease-in-out;
}

.progress-bar-small{
	width:70vw;
}

div.settings-button{
	position:absolute;
	height:30px;
	width:30px;
	top:20px;
	right:20px;
	margin:0;
	padding:0;
	/*background:#4B9BCD;*/
	background:#000;
	border:1px solid white;
	border-radius: 5px;
	z-index:100;
	cursor:pointer;
	transition: all .2s ease-in-out;
}

div.settings-button-expand{
	background:#F14242;
	transform:rotate(90deg);
}

div.settings-button:hover{
	background:#fff;
}

div.settings-button-expand:hover{
	background:#962A2A;
}

div.settings-pane{
	position:absolute;
	top:0;
	right:0;
	height:100vh;
	width:30vw;
	margin:0;
	padding:0;
	background:#eee;
	transform:translateX(30vw);
	transition:all .2s ease-in-out;
}

div.settings-pane-visible{
	transform:translateX(0);
}

.settings-pane-inner{
	position:relative;
	height:100vh;
	width:20vw;
	margin:0;
}

.timer-setting-label{
	position:absolute;
	top:20vh;
	transform:translateX(25%);
	height:5vh;
	width:21vw;
	margin:0;
	padding:0;
	border-bottom:1px solid #aaa;
}

.timer-setting-label div{
	position:relative;
	float:left;
	height:5vh;
	width:7vw;
	margin:0;
	padding:0;
	text-align:center;
	line-height: 5vh;
	font-size:14px;
	color:#999;
	font-family: 'Open Sans',sans-serif;
}

.timer-setting{
	position:absolute;
	top:25vh;
	transform:translateX(25%);
	height:10vh;
	width:21vw;
	margin:0;
	padding:0;
	border-bottom:1px solid #aaa;
}

.scroll{
	position:relative;
	float:left;
	width:7vw;
	height:10vh;
	margin:0;
	padding:0;
	overflow-y:scroll;
}

.scroll div{
	height:10vh;
	width:7vw;
	float:left;
	margin:0;
	padding:0;
	line-height: 10vh;
	text-align:center;
	font-family:'Open Sans', sans-serif;
	font-size:32px;
}

.scroll::-webkit-scrollbar{
	display:none;
}

.time-btn{
	position:absolute;
	width:75px;
	height:40px;
	background:#EAE1D3;
	border-radius: 5px;
	border:1px solid #B9A487;
	color:#B9A487;
	text-align: center;
	line-height: 40px;
	font-size:22px;
	font-family: 'Open Sans',sans-serif;
	cursor:pointer;
	transition:all .1s ease-in-out;
}

.time-btn:hover{
	background:#AC946E;
	color:#fff;
}

.set-time{
	top:40vh;
	left:45%;
}

.save-time{
	top:40vh;
	left:85%;
}

.saved-times-label{
	position:absolute;
	top:55vh;
	left:25%;
	width:21vw;
	height:5vh;
	font-family: 'Open Sans', sans-serif;
	font-size:22px;
	color:#999;
	border-bottom:1px solid #aaa;
	text-align: center;
	line-height: 5vh;
}

@keyframes progress{
	0%{
		width:0%;
	}
	100%{
		width:100%;
	}
}

@keyframes flash{
	25%{
		background: #000;
	}
	75%{
		background: #fff;
	}
}

.timer{
	position:absolute;
	top:50%;
	left:50%;
	height:360px;
	width:1150px;
	transform: translate(-50%, -50%);
	background: #000;
	border:1px solid #fff;
	border-radius:20px;
	margin:0;
	padding:30px 20px;
	z-index:100;
	transition:all .2s ease-in-out;
	/*
	-webkit-box-shadow: 0px 0px 94px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 	0px 0px 94px 2px rgba(0,0,0,0.75);
	box-shadow: 		0px 0px 94px 2px rgba(0,0,0,0.75); */
}

.timer-small{
	top:0;
	left:0;
	transform:scale(0.5) translate(-20vw,50%);
}

.number-outer{
	float:right;
	height:360px;
	width:190px;
	margin:0 20px;
	padding:0;
}
.number-outer-inner{
	position:relative;
	height:360px;
	width:190px;
	margin:0;
	padding:0;
}

.section{
	position:absolute;
	background:#fff;
	/*
	-webkit-box-shadow: inset 13px 13px 8px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 13px 13px 8px -12px rgba(0,0,0,0.75);
	box-shadow: inset 13px 13px 8px -12px rgba(0,0,0,0.75); */
}

.finished, .finished::before, .finished::after{
	animation:flash .8s infinite;
}

.grayed .section {
	background:#666;
}

.horizontal{
	height:30px;
	width:120px;
}

.horizontal::before{
	display:block;
	content:"";
	position:absolute;
	background:#fff;
	height:21.5px;
	width:21.5px;
	transform:rotate(45deg);
	top:4px;
	left:-10px;
}

.horizontal::after{
	display:block;
	content:"";
	position:absolute;
	background:#fff;
	height:21.6px;
	width:21.6px;
	transform:rotate(45deg);
	top:4px;
	right:-10px;
}

.grayed .horizontal::before{
	background:#666;
}

.grayed .horizontal::after{
	background:#666;
}

.vertical{
	height:120px;
	width:30px;
}

.vertical::before{
	display:block;
	content:"";
	position:absolute;
	background:#fff;
	height:21.5px;
	width:21.5px;
	transform:rotate(45deg);
	top:-10px;
	left:4px;
}

.vertical::after{
	display:block;
	content:"";
	position:absolute;
	background:#fff;
	height:21.5px;
	width:21.5px;
	transform:rotate(45deg);
	bottom:-10px;
	left:4px;
}

.grayed .vertical::before{
	background:#666;
}

.grayed .vertical::after{
	background:#666;
}

.top{
	top:0;
	left:50%;
	transform:translateX(-50%);
}

.top-left{
	top:40px;
	left:0;
}

.top-right{
	top:40px;
	right:0;
}

.middle{
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.bottom-left{
	bottom:40px;
	left:0;
}

.bottom-right{
	bottom:40px;
	right:0;
}

.bottom{
	bottom:0;
	left:50%;
	transform:translateX(-50%);
}

.tab{
	position:absolute;
	top:0;
	right:0;
	height:50px;
	width:50px;
	line-height: 50px;
	cursor:pointer;
	background:#000;
	border:1px solid #fff;
	border-right:1px solid #000;
	border-top:1px solid #000;
	transition:transform .2s ease-in-out;
}

.tab img {
	width:50px;
}

.settings{
	position:absolute;
	top:0;
	right:0;
	height:75px;
	width:700px;
	transform:translateX(705px);
	background:#000;
	border:1px solid #fff;
	border-top:1px solid #000;
	transition:transform .2s ease-in-out;
}

.visible{
	transform: translateX(0px);
}

.tab-on{
	transform: translateX(-700px);
}

#seconds-input{
	background:#000;
	height:50px;
	width:200px;
	float:left;
	margin:10px;
	margin-left:50px;
	padding-left:10px;
	font-size:20px;
	font-family:'Roboto',sans-serif;
	color:#fff;
	border:0;
	outline:none;
	border:2px solid #fff;
	text-align:center;
}

.button{
	height:50px;
	width:100px;
	float:left;
	margin:10px;
	margin-left:20px;
	font-size:20px;
	font-family:'Roboto',sans-serif;
	color:#fff;
	text-align:center;
	line-height:50px;
	border:1px solid #fff;
	background:#000;
	cursor:pointer;
}

























