body{
	background: #EBEBEB;
	overflow:hidden;
}

.progress-bar{
	height:100vh;
	width:100vw;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	margin:0;
	padding:0;
	background: #CAFBCD;
}

.progress-bar-inner{
	margin:0;
	height:100%;
	background:#4FE17C;
	transition: width .2s ease-in-out;
}

@keyframes flash{
	0%{
		background: #FF022C
	}
	25%{
		background: #FF01E4;
	}
	50%{
		background: #0047FF;
	}
	75%{
		background: #00FF3C;
	}
	100%{
		background: #FFF001;
	}
}

.timer{
	position:absolute;
	top:50%;
	left:50%;
	height:360px;
	width:1150px;
	transform: translate(-50%, -50%);
	background: #020A6F;
	border-radius:20px;
	margin:0;
	padding:30px 20px;
	/*
	-webkit-box-shadow: 0px 0px 94px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 	0px 0px 94px 2px rgba(0,0,0,0.75);
	box-shadow: 		0px 0px 94px 2px rgba(0,0,0,0.75); */
}

.number-outer{
	float:right;
	height:360px;
	width:190px;
	margin:0 20px;
	padding:0;
}
.number-outer-inner{
	position:relative;
	height:360px;
	width:190px;
	margin:0;
	padding:0;
}

.section{
	position:absolute;
	background:#4771DC;
	/*
	-webkit-box-shadow: inset 13px 13px 8px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 13px 13px 8px -12px rgba(0,0,0,0.75);
	box-shadow: inset 13px 13px 8px -12px rgba(0,0,0,0.75); */
}

.horizontal{
	height:30px;
	width:120px;
}

.horizontal::before{
	display:block;
	content:"";
	position:absolute;
	background:#4771DC;
	height:21.5px;
	width:21.5px;
	transform:rotate(45deg);
	top:4px;
	left:-10px;
}

.horizontal::after{
	display:block;
	content:"";
	position:absolute;
	background:#4771DC;
	height:21.6px;
	width:21.6px;
	transform:rotate(45deg);
	top:4px;
	right:-10px;
}

.vertical{
	height:120px;
	width:30px;
}

.vertical::before{
	display:block;
	content:"";
	position:absolute;
	background:#4771DC;
	height:21.5px;
	width:21.5px;
	transform:rotate(45deg);
	top:-10px;
	left:4px;
}

.vertical::after{
	display:block;
	content:"";
	position:absolute;
	background:#4771DC;
	height:21.5px;
	width:21.5px;
	transform:rotate(45deg);
	bottom:-10px;
	left:4px;
}

.top{
	top:0;
	left:50%;
	transform:translateX(-50%);
}

.top-left{
	top:40px;
	left:0;
}

.top-right{
	top:40px;
	right:0;
}

.middle{
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.bottom-left{
	bottom:40px;
	left:0;
}

.bottom-right{
	bottom:40px;
	right:0;
}

.bottom{
	bottom:0;
	left:50%;
	transform:translateX(-50%);
}

.tab{
	position:absolute;
	top:0;
	right:0;
	height:50px;
	width:50px;
	line-height: 50px;
	text-align:center;
	font-size:35px;
	font-weight:bold;
	font-family:sans-serif;
	color:#fff;
	cursor:pointer;
	background:#336699;
	transition:transform .2s ease-in-out;
}

.settings{
	position:absolute;
	top:0;
	right:0;
	height:75px;
	width:700px;
	transform:translateX(700px);
	background:#336699;
	transition:transform .2s ease-in-out;
}

.visible{
	transform: translateX(0px);
}

.tab-on{
	transform: translateX(-700px);
}

#seconds-input{
	background:#336699;
	height:50px;
	width:200px;
	float:left;
	margin:10px;
	margin-left:50px;
	padding-left:10px;
	font-size:24px;
	font-family:'Roboto',sans-serif;
	color:#fff;
	border:0;
	outline:none;
	border:2px solid #8cb3d9;
	text-align:center;
}

.button{
	height:50px;
	width:100px;
	float:left;
	margin:10px;
	margin-left:20px;
	font-size:24px;
	font-family:'Roboto',sans-serif;
	color:#fff;
	text-align:center;
	line-height:50px;
	border:2px solid #8cb3d9;
	cursor:pointer;
}

.submit{
	background:#339966;
}

.set-work{
	background:#5353c6;
}

.set-school{
	background:#00ace6;
}

























