@font-face {
    font-family: 'Roboto Condensed';
    src: url("./fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}

body {
    background: #000;
    font-family: 'Roboto Condensed', sans-serif;
    overflow:hidden;
}

.content {
    position:absolute;
    height:90vh;
    width:100vw;
    top:0;
    left:0;
    margin:0;
    padding:0;
}

.content-inner {
    position:relative;
    height:90vh;
    width:100vw;
}

.sidebar {
    position:relative;
    float:left;
    height:90vh;
    width:20vw;
    margin:0;
    padding:0;
    background:linear-gradient(rgb(43, 50, 109),rgb(15, 20, 46));
    -webkit-box-shadow: 10px 0px 60px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 0px 60px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 0px 60px -10px rgba(0,0,0,0.75);
    z-index:100;
}

.sidebar-navbar {
    position:relative;
    float:left;
    height:90vh;
    width:5vw;
    background:#62c1da;
    background:rgb(29, 31, 61);
    background:linear-gradient(rgb(29, 31, 61), rgb(14, 8, 32))
}

.sidebar-icons-outer {
    position:absolute;
    width:5vw;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    padding:0;
}

.sidebar-icon {
    position:relative;
    float:left;
    height:60px;
    width:5vw;
    text-align:center;
    line-height: 60px;
    font-size:24px;
    color:#fff;
    margin:0;
    padding:0;
    cursor:pointer;
    transition:all .2s ease-in-out;
    opacity:0.6;
}

.sidebar-icon-active {
    opacity:1;
}

.sidebar-icon::after {
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:60px;
    width:2px;
    background:#fff;
    margin:0;
    padding:0;
}

.sidebar-icon-hover::after {
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:60px;
    width:10px;
    background:#fff;
    margin:0;
    padding:0;
    opacity:0.5;
    transition:width .1s ease-in-out;
}

.sidebar-icon-active::after {
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:60px;
    width:10px;
    background:#fff;
    margin:0;
    padding:0;
}

.sidebar-icon img {
    margin:0;
    padding:0;
}

.sidebar-content-outer {
    position:relative;
    float:right;
    height:90vh;
    width:15vw;
    overflow:hidden;
}

.sidebar-content {
    position:absolute;
    height:90vh;
    width:15vw;
    margin:0;
    padding:0;
    top:-90vh;
    left:0;
    overflow:hidden;
}

.sidebar-content-active {
    top:0;
}

.sidebar-header {
    position:relative;
    float:left;
    height:10vh;
    width:100%;
    margin:0;
    padding:0;
    -webkit-box-shadow: 0px 10px 74px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 74px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 74px -17px rgba(0,0,0,0.75);
}

.sidebar-header span {
    position:absolute;
    height:10vh;
    width:100%;
    top:0;
    left:50%;
    transform:translate(-50%,0);
    margin:0;
    padding-left:30px;
    line-height:10vh;
    text-align:left;
    font-size:18px;
    color:rgba(255, 255, 255, 0.829);
    font-weight:bold;
}

.new-playlist-toggle {
    position:absolute;
    top:50%;
    right:0;
    height:30px;
    width:60px;
    transform:translate(-20px, -50%);
    text-align:center;
    line-height:30px;
    font-size:16px;
    color:#fff;
    border:1px solid #fff;
    border-radius:5px;
    cursor:pointer;
}

.new-playlist-form {
    display:none;
    position:relative;
    float:left;
    height:10vh;
    width:100%;
    margin:0;
    padding:0;
    border-bottom:1px solid rgba(255, 255, 255, 0.486);
    transition:display .1s ease-in-out;
}

.new-playlist-name {
    position:relative;
    float:left;
    height:10vh;
    width:40%;
    line-height:10vh;
    outline:none;
    border:none;
    color:#fff;
    text-align:left;
    padding-left:20px;
    font-size:14px;
    background:none;
}

.new-playlist-submit {
    position:absolute;
    height:30px;
    width:60px;
    top:50%;
    right:0;
    transform:translate(-20px, -50%);
    text-align:center;
    line-height:30px;
    font-size:16px;
    color:#fff;
    border:1px solid #fff;
    border-radius:5px;
    cursor:pointer;
    transition:all .1s ease-in-out
}

.new-playlist-submit:hover, .new-playlist-toggle:hover {
    background:#fff;
    color:rgb(100, 111, 172);
}

.sidebar-list {
    position:relative;
    float:left;
    height:80vh;
    width:100%;
    margin:0;
    padding:0;
    padding-right:50px;
    overflow-y:scroll;
    transition:height .1s ease-in-out;
}

.new-playlist-form-visible {
    display:block;
}

.sidebar-list-short {
    height:70vh;
}

.sidebar-list ul {
    list-style:none;
    padding-left:30px;
    list-style-type: none;
}

.sidebar-list ul li {
    width:95%;
    margin:15px 0;
    display:block;
    text-align:left;
    line-height: 30px;
    font-size:16px;
    color:rgb(254, 253, 255);
    cursor:pointer;
}

.sidebar-list ul li:hover {
    color:rgb(139, 148, 226);
}

.view-outer {
    position: relative;
    float:right;
    height:90vh;
    width:80vw;
    margin:0;
    padding:0;
    overflow:hidden;
}

.view-background {
    position:absolute;
    top:0;
    left:0;
    transform:translate(-20vw,0);
    width:100vw;
    height:100vh;
    background-image: url("background/bg4.jpg");
    background-size:cover;
    filter:blur(6px) brightness(90%);
    z-index:1;
}

.view-inner {
    position:absolute;
    top:0;
    left:0;
    height:90vh;
    width:80vw;
    z-index:10;
}

.index-outer {
    position:relative;
    height:90vh;
    width:80vw;
    margin:0;
    padding:0;
    padding-right:20px;
    overflow-y:scroll;
}

.index-inner {
    position:absolute;
    top:0;
    left:50%;
    transform:translate(-50%,0);
    width:60vw;
}

.view-inner-hidden {
    left:300vw;
}

.queue-container {
    position:absolute;
    top:0;
    left:50%;
    transform:translateX(200vw);
    height:90vh;
    width:80vw;
    z-index:10;
}

.queue-container-visible {
    transform:translateX(-50%);
}

.view-nothing-selected {
    position:absolute;
    top:0;
    left:50%;
    transform:translate(-50%,-90vh);
    height:90vh;
    width:50vw;
    line-height:90vh;
    text-align:center;
    font-size:20px;
    color:#fff;
}

.view-nothing-selected-active {
    transform:translate(-50%, 0);
    z-index:100;
}

.panel {
    position:relative;
    height:150px;
    width:60vw;
    float:left;
    margin:0;
    padding:0;
    color:#fff;
    border-bottom:1px solid #fff;
}

.panel-title {
    position:absolute;
    left:0;
    top:0;
    height:150px;
    width:25vw;
    line-height:150px;
    text-align:left;
    margin:0;
    padding:0;;
    font-size:32px;
    font-weight:bold;   
    text-overflow:ellipsis;
    white-space: nowrap;
}

.panel-title-hidden {
    display:none;
}

.panel-title-inner {
    position:relative;
    height:150px;
    width:30vw;
    margin:0;
    padding:0;
    overflow:visible;
}

#index-rename input {
    position:absolute;
    display:block;
    left:0;
    top:0;
    height:150px;
    width:20vw;
    line-height:150px;
    text-align:left;
    margin:0;
    padding:0;
    font-size:32px;
    font-family:'Roboto Condensed';
    color:#fff;
    background:none;
    font-weight:bold;
    border:none;
    outline:none;
}

.index-rename-submit {
    position:absolute;
    top:50%;
    left:0;
    transform:translate(-60px,-50%);
    height:35px;
    width:35px;
    cursor:pointer;
    margin:0;
    padding:0;
}

.index-rename-submit img {
    position:relative;
    float:left;
    height:35px;
    width:35px;
    margin:0;
    padding:0;
}

.index-rename-submit:hover {
    opacity:0.6;
}

.panel-controls {
    position:absolute;
    right:0;
    top:0;
    height:150px;
    margin:0;
    padding:0;
}

.panel-control-hidden {
    display:none;
}

.panel-control {
    position:relative;
    float:right;
    height:150px;
    text-align:right;
    line-height:150px;
    margin:0;
    padding-left:20px;
    font-size:18px;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
    transition:all .05s ease-in-out;
}

.panel-control:hover {
    color:rgba(255, 255, 255, 0.5);
}

.panel-play {
    position:absolute;
    top:50%;
    right:0;
    transform:translate(0,-50%);
    height:40px;
    line-height:40px;
    width:90px;
    border:1px solid #fff;
    border-radius:10px;
    text-align:center;
    cursor:pointer;
}

.panel-play:hover {
    background:#fff;
    color:rgb(100, 111, 172);
}

.music-item-key {
    position:relative;
    height:50px;
    width:60vw;
    margin:0;
    padding:20px 0 0 0;
    color:rgba(255, 255, 255, 0.452);
    border-bottom:1px solid rgba(255, 255, 255, 0.356);
    float:left;
}

.music-list {
    position:relative;
    width:60vw;
    float:left;
    margin:0;
    padding:10px 0 0 0;
}

.music-item {
    position:relative;
    height:50px;
    width:60vw;
    margin:0;
    padding:0;
    float:left;
    overflow:visible;
}

.music-item-delete, .queue-item-delete {
    display:none;
    opacity:0.5;
    position:absolute;
    height:25px;
    width:40px;
    left:0;
    top:50%;
    transform:translate(-40px, -50%);
    margin:0;
    padding:0;
    cursor:pointer;
}

.music-item-delete img, .queue-item-delete img {
    position:relative;
    float:left;
    width:25px;
    height:25px;
    margin:0;
}

.music-item-delete:hover, .queue-item-delete:hover {
    opacity:1;
}

.music-item:hover .music-item-delete, .music-item:hover .queue-item-delete {
    display:block;
}

.music-item-info {
    position:relative;
    float:left;
    height:50px;
    line-height:50px;
    text-align:left;
    font-size:16px;
    color:#fff;
    margin:0;
    padding:0;
    cursor:pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x:hidden;
}

.music-item-active {
    background:rgba(210, 228, 255, 0.432);
}

.music-item:hover, .music-item-active {
    background:rgba(210, 228, 255, 0.432);
}

.info-padding {
    width:1vw;
}

.music-item-title {
    width:24vw;
}

.music-item-artist {
    width:14vw;
}

.music-item-album {
    width:14vw;
}

.music-item-options {
    position:relative;
    float:left;
    height:50px;
    width:5vw;
    margin:0;
    padding:0;
}

.options-container {
    display:none;
    position:absolute;
    height:140px;
    width:150px;
    bottom:45px;
    left:50%;
    transform:translate(-50%, -10px);
    margin:0;
    padding:0;
    background:rgba(62, 61, 107);
    border-radius:5px;
    -webkit-box-shadow: 0px 10px 37px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 37px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 37px -4px rgba(0,0,0,0.75);
}

.options-container-visible {
    display:block;
}

.options-container-inner {
    position:relative;
    height:140px;
    width:150px;
    margin:0;
    padding:0;
}

.tail {
    position:absolute;
    bottom:0;
    left:50%;
    height:28px;
    width:28px;
    border-radius:1px;
    transform:translate(-50%,15px) rotate(45deg);
    background:rgba(62, 61, 107);
}

.options-list {
    position:absolute;
    height:120px;
    width:150px;
    top:50%;
    left:0;
    transform:translate(0,-50%);
    margin:0;
    padding:0;
}

.options-list div {
    position:relative;
    height:40px;
    width:150px;
    line-height:40px;
    text-align:center;
    font-size:16px;
    color:rgb(225, 221, 255);
    margin:0;
    padding:0;
    cursor:pointer;
}

.options-list div:hover {
    color:rgb(134, 151, 247);
}

.music-item-options img {
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    height:25px;
    width:25px;
    cursor:pointer;
}

.music-item:hover .music-item-options img {
    display:block;
}

.music-item-active .music-item-options img {
    display:block;
}

.music-item-options img:hover {
    opacity:0.5;
}

.now-playing {
    position:absolute;
    height:10vh;
    width:100vw;
    bottom:0;
    left:0;
    margin:0;
    padding:0;
    background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
    background:rgb(22, 44, 78);
    background: linear-gradient(rgb(38, 73, 124), rgb(22, 44, 78));
    z-index:10;
}

.now-playing-inner {
    position:relative;
    height:10vh;
    width:100vw;
    margin:0;
    padding:0;
}

.song-info-outer, .media-controls, .media-options {
    position:absolute;
    top:0;
    height:10vh;
    margin:0;
    padding:0;
}

.song-info {
    left:0;
}

.song-album-cover {
    position:relative;
    height:10vh;
    width:15vh;
    float:left;
    margin:0;
    padding:0;
}

.song-album-cover img {
    position:absolute;
    height:9vh;
    width:9vh;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    background:rgba(255, 255, 255, 0.308);
}

.song-info {
    position:relative;
    height:10vh;
    float:left;
    margin:0;
    padding:0;
}

.song-title, .song-artist {
    height:5vh;
    text-align:left;
    color:#fff;
}

.song-title {
    font-size:18px;
    line-height:6vh;
}

.song-artist {
    font-size:16px;
    line-height:4vh;
    opacity: 0.7;
}

.media-controls {
    width:35vw;
    left:50%;
    transform:translate(-50%,0);
}

.media-controls-inner {
    position:relative;
    height:10vh;
    width:35vw;
    margin:0;
    padding:0;
}

.control-buttons {
    position:absolute;
    height:6vh;
    top:0;
    left:50%;
    transform:translate(-50%,0);
    margin:0;
    padding:0;
}

.control-disabled {
    opacity:0.5;
}

.skip-back, .toggle-play, .skip-forward {
    position:relative;
    height:7vh;
    width:30px;
    float:left;
    margin:0;
    padding:0;
}

.skip-back img, .toggle-play img, .skip-forward img {
    position:absolute;
    top:50%;
    transform:translate(0, -50%);  
    height:25px;
    width:25px;
    cursor:pointer;
}

.skip-back img {
    right:20px;
}

.skip-forward img {
    left:20px;
}

.toggle-play img {
    left:50%;
    transform:translate(-50%, -50%);
    height:30px;
    width:30px;
}

.skip-back img:hover, .skip-forward:hover, .toggle-play:hover {
    opacity:0.5;
}

.seek-outer {
    position:absolute;
    display:flex;
    flex-direction:row;
    align-items:center;
    width:35vw;
    height:4vh;
    top:5.5vh;
    margin:0;
    padding:0;
}

.current-time, .song-time {
    height:20px;
    line-height:20px;
    text-align:center;
    font-size:14px;
    color:#fff;
    flex-grow:1;
}

.seek-bar {
    height:5px;
    background:rgb(60, 82, 182);
    border-radius:2px;
    flex-grow:20;
    cursor:pointer;
    transition:all 0.05s linear;
}

.seek-bar-inner {
    position:relative;
    float:left;
    height:5px;
    width:0%;
    background:rgb(74, 219, 255);
    border-radius: 2px;
    margin:0;
    padding:0;
    transition:all 0.05s linear;
}

.seek-bar-grow {
    height:10px;
}

.seek-hover {
    display:none;
    position:absolute;
    top:0;
    left:0;
    height:60px;
    width:100px;
    transform:translateX(0) translateY(-45px);
}

.seek-hover-visible {
    display:block;
}

.seek-hover-inner {
    position:relative;
    height:60px;
    width:100px;
    margin:0;
    padding:0;
}

.seek-hover-tail {
    position:absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%, -5px) rotate(45deg);
    height:20px;
    width:20px;
    background:rgb(5, 161, 154);
    border-radius:3px;
}

.seek-hover-time {
    position:absolute;
    top:0;
    left:0;
    height:50px;
    width:100px;
    background:rgb(5, 161, 154);
    border-radius:5px;
    line-height:50px;
    text-align:center;
    font-size:18px;
    color:#fff;
    -webkit-box-shadow: 0px -11px 80px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -11px 80px -13px rgba(0,0,0,0.75);
    box-shadow: 0px -11px 80px -13px rgba(0,0,0,0.75);
}

.media-options {
    right:0;
    padding-right:50px;
}

.queue, .shuffle, .loop {
    position:relative;
    height:10vh;
    width:40px;
    float:right;
    margin:0;
    padding:0;
}

.disabled {
    opacity:0.5;
}

.queue img, .shuffle img, .loop img {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height:20px;
    width:20px;
    margin:0;
    cursor:pointer;
}

.volume {
    position:relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    height:10vh;
    width:10vw;
    float:right;
    margin:0 15px;
    padding:0;
}

.volume-icon {
    width:10px;
    flex-grow:1;
    margin:0 5px;
    cursor:pointer;
}

.volume-bar {
    height:5px;
    border-radius: 2px;
    background:rgb(60, 82, 182);
    flex-grow: 10;
    cursor:pointer;
}

.volume-bar-inner {
    position:relative;
    float:left;
    height:5px;
    width:100%;
    border-radius: 2px;
    background:rgb(112, 255, 172);
    margin:0;
    transition:width 0.05s linear;
}

.success-message {
    position: absolute;
    top:50%;
    left:300vw;
    transform:translate(-50%,-50%);
    height:100px;
    width:250px;
    border-radius:10px;
    background:rgba(29, 50, 77, 0.5);
    padding:0;
    z-index:1000;
}

@keyframes appear {
    0% {
        opacity:0;
    }
    50% {
        opacity:0.4;
    }
    100% {
        opacity:1;
    }
}

.success-message-visible {
    left:50%;
    animation:appear .2s ease-in-out;
}

.success-message-inner {
    position:relative;
    height:100px;
    width:250px;
    margin:0;
    padding:0;
}

.success-check {
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(30px,-50%);
    margin:0;
}

#success-message-text {
    display:block;
    position:absolute;
    top:50%;
    right:0%;
    transform:translate(-20%,-50%);
    height:100px;
    line-height:100px;
    text-align:left;
    font-size:18px;
    color:#fff;
}

.block {
    position:absolute;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
    transform:translateX(200vw);
    background:rgba(0, 0, 0, 0.2);
    z-index:10000;
}

.block-visible {
    transform:translateX(0);
}

.playlist-select {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-200vw);
    height:320px;
    width:400px;
    background-image: linear-gradient( 135deg, rgb(110, 139, 255) 10%, #0b2366 100%);
    border-radius:10px;
    overflow:hidden;
    margin:0;
    padding:0;
    z-index:1000;
    -webkit-box-shadow: 0px 0px 59px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 59px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 59px -8px rgba(0,0,0,0.75);
    transition:all .3s ease-in-out;
    z-index:10001;
}

.playlist-select-visible {
    transform:translate(-50%,-50%);
}

.playlist-select-header {
    position:relative;
    float:left;
    height:80px;
    width:400px;
    line-height:80px;
    text-align:center;
    font-size:22px;
    color:#fff;
    border-bottom:1px solid rgba(255, 255, 255, 0.486);
    margin:0;
    padding:0;
}

.playlist-select-list {
    position:relative;
    float:left;
    height:220px;
    width:420px;
    overflow-y:scroll;
    overflow-x:hidden;
    margin:0;
    padding:0;
}

.playlist-select-list ul {
    list-style:none;
    padding-left:0;
    list-style-type:none
}

.playlist-select-list ul li {
    font-size:18px;
    height:50px;
    line-height:50px;
    text-align:center;
    color:#fff;
    cursor:pointer;
}

.playlist-select-list ul li:hover {
    opacity:0.5;
}

.exit-button {
    position:absolute;
    top:10px;
    right:10px;
    height:26px;
    width:26px;
    margin:0;
    padding:0;
    cursor:pointer;
}

.exit-button:hover {
    opacity:0.5;
}
