@font-face {
    font-family: 'Roboto Condensed';
    src: url("./fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}

body {
    background: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    overflow:hidden;
}

.content {
    position:absolute;
    height:90vh;
    width:100vw;
    top:0;
    left:0;
    margin:0;
    padding:0;
}

.content-inner {
    position:relative;
    height:90vh;
    width:100vw;
}

.sidebar {
    position:relative;
    float:left;
    height:90vh;
    width:20vw;
    margin:0;
    padding:0;
    background: #82ebc1; /* Old Browsers */
	background: -webkit-linear-gradient(right,#82ebc1,#62c1da); /*Safari 5.1-6*/
	background: -o-linear-gradient(right,#82ebc1,#62c1da); /*Opera 11.1-12*/
	background: -moz-linear-gradient(right,#82ebc1,#62c1da); /*Fx 3.6-15*/
    background: linear-gradient(to left, #82ebc1, #62c1da); /*Standard*/    
    background:rgb(43, 50, 109);
    background:linear-gradient(rgb(43, 50, 109),rgb(15, 20, 46));
    -webkit-box-shadow: 10px 0px 60px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 0px 60px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 0px 60px -10px rgba(0,0,0,0.75);
    z-index:100;
}

.sidebar-navbar {
    position:relative;
    float:left;
    height:90vh;
    width:5vw;
    background:#62c1da;
    background:rgb(29, 31, 61);
    background:linear-gradient(rgb(29, 31, 61), rgb(14, 8, 32))
}

.sidebar-icons-outer {
    position:absolute;
    width:5vw;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    padding:0;
}

.sidebar-icon {
    position:relative;
    float:left;
    height:60px;
    width:5vw;
    text-align:center;
    line-height: 60px;
    font-size:24px;
    color:#fff;
    margin:0;
    padding:0;
    cursor:pointer;
    transition:all .2s ease-in-out;
    opacity:0.6;
}

.sidebar-icon-active {
    opacity:1;
}

.sidebar-icon::after {
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:60px;
    width:2px;
    background:#fff;
    margin:0;
    padding:0;
}

.sidebar-icon-hover::after {
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:60px;
    width:10px;
    background:#fff;
    margin:0;
    padding:0;
    opacity:0.5;
    transition:width .1s ease-in-out;
}

.sidebar-icon-active::after {
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:60px;
    width:10px;
    background:#fff;
    margin:0;
    padding:0;
}

.sidebar-icon img {
    margin:0;
    padding:0;
}

.sidebar-content-outer {
    position:relative;
    float:right;
    height:90vh;
    width:15vw;
    overflow:hidden;
}

.sidebar-content {
    position:absolute;
    height:90vh;
    width:15vw;
    margin:0;
    padding:0;
    top:-90vh;
    left:0;
    overflow:hidden;
}

.sidebar-content-active {
    top:0;
}

.sidebar-header {
    position:relative;
    float:left;
    height:10vh;
    width:100%;
    margin:0;
    padding:0;
    -webkit-box-shadow: 0px 10px 74px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 74px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 74px -17px rgba(0,0,0,0.75);
}

.sidebar-header span {
    position:absolute;
    height:10vh;
    width:100%;
    top:0;
    left:50%;
    transform:translate(-50%,0);
    margin:0;
    padding-left:30px;
    line-height:10vh;
    text-align:left;
    font-size:18px;
    color:rgba(255, 255, 255, 0.829);
    font-weight:bold;
}

.new-playlist-toggle {
    position:absolute;
    top:50%;
    right:0;
    height:30px;
    width:60px;
    transform:translate(-20px, -50%);
    text-align:center;
    line-height:30px;
    font-size:16px;
    color:#fff;
    border:1px solid #fff;
    border-radius:5px;
    cursor:pointer;
}

.new-playlist-form {
    position:relative;
    float:left;
    height:10vh;
    width:100%;
    margin:0;
    padding:0;
    border-bottom:1px solid rgba(255, 255, 255, 0.486);
}

.new-playlist-name {
    position:relative;
    float:left;
    height:10vh;
    width:40%;
    line-height:10vh;
    outline:none;
    border:none;
    color:#fff;
    text-align:left;
    padding-left:20px;
    font-size:14px;
    background:none;
}

.new-playlist-submit {
    position:absolute;
    height:30px;
    width:60px;
    top:50%;
    right:0;
    transform:translate(-20px, -50%);
    text-align:center;
    line-height:30px;
    font-size:16px;
    color:#fff;
    border:1px solid #fff;
    border-radius:5px;
    cursor:pointer;
    transition:all .1s ease-in-out
}

.new-playlist-submit:hover, .new-playlist-toggle:hover {
    background:#fff;
    color:rgb(100, 111, 172);
}

.sidebar-list {
    position:relative;
    float:left;
    height:70vh;
    width:100%;
    margin:0;
    padding:0;
    padding-right:50px;
    overflow-y:scroll;
}

.sidebar-list ul {
    list-style:none;
    padding-left:30px;
    list-style-type: none;
}

.sidebar-list ul li {
    width:95%;
    margin:15px 0;
    display:block;
    text-align:left;
    line-height: 30px;
    font-size:16px;
    color:rgb(254, 253, 255);
    cursor:pointer;
}

.sidebar-list ul li:hover {
    color:rgb(139, 148, 226);
}

.view-outer {
    position: relative;
    float:right;
    height:90vh;
    width:80vw;
    margin:0;
    padding:0;
    /*
    background-image: linear-gradient( 135deg, rgb(188, 218, 253) 10%, rgb(72, 49, 204) 100%);
    background:linear-gradient(rgb(83, 85, 185), rgb(50, 49, 99));
    background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
    background-image: linear-gradient( 135deg, rgb(77, 219, 188) 10%, #0E5CAD 100%);
    background-image: url("background/bg1.jpg");
    */
    overflow-y:scroll;
}

.view-background {
    position:fixed;
    top:0;
    left:50%;
    transform:translate(-50%,0);
    width:100vw;
    height:100vh;
    background-image: url("background/bg4.jpg");
    background-size:100% auto;
    filter:blur(6px) brightness(100%);
    z-index:1;
}

.view-inner {
    position:absolute;
    top:0;
    left:50%;
    transform:translate(-50%,0);
    width:60vw;
    z-index:10;
}

.view-inner-hidden {
    left:300vw;
}

.queue-container {
    position:absolute;
    top:0;
    left:300vw;
    transform:translate(-50%,0);
    width:60vw;
    z-index:1000;
}

.queue-container-visible {
    left:50%;
}

.view-nothing-selected {
    position:absolute;
    top:0;
    left:50%;
    transform:translate(-50%,-90vh);
    height:90vh;
    width:50vw;
    line-height:90vh;
    text-align:center;
    font-size:20px;
    color:#fff;
}

.view-nothing-selected-active {
    transform:translate(-50%, 0);
    z-index:100;
}

.panel {
    position:relative;
    height:100px;
    width:60vw;
    float:left;
    margin:0;
    padding:0;
    color:#fff;
    border-bottom:1px solid #fff;
}

.panel-title {
    position:absolute;
    left:0;
    top:0;
    height:100px;
    width:35vw;
    line-height:100px;
    text-align:left;
    margin:0;
    padding:0;;
    font-size:32px;
    font-weight:bold;   
    overflow-x:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.panel-controls {
    position:absolute;
    right:0;
    top:0;
    height:100px;
    margin:0;
    padding:0;
}

.panel-control-hidden {
    display:none;
}

.panel-control {
    position:relative;
    float:right;
    height:100px;
    text-align:right;
    line-height:100px;
    margin:0;
    padding-left:20px;
    font-size:18px;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
    transition:all .05s ease-in-out;
}

.panel-control:hover {
    color:rgba(255, 255, 255, 0.5);
}

.panel-play {
    position:absolute;
    top:50%;
    right:0;
    transform:translate(0,-50%);
    height:40px;
    line-height:40px;
    width:90px;
    border:1px solid #fff;
    border-radius:10px;
    text-align:center;
    cursor:pointer;
}

.panel-play:hover {
    color:#fff;
    background:rgba(199, 212, 255, 0.438);
}

.music-item-key {
    position:relative;
    height:50px;
    width:60vw;
    margin:0;
    padding:20px 0 0 0;
    color:rgba(255, 255, 255, 0.452);
    border-bottom:1px solid rgba(255, 255, 255, 0.356);
    float:left;
}

.music-list {
    position:relative;
    width:60vw;
    float:left;
    margin:0;
    padding:10px 0 0 0;
}

.music-item {
    position:relative;
    height:50px;
    width:60vw;
    margin:0;
    padding:0;
    float:left;
}

.music-item-info {
    position:relative;
    float:left;
    height:50px;
    line-height:50px;
    text-align:left;
    font-size:16px;
    color:#fff;
    margin:0;
    padding:0;
    cursor:pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x:hidden;
}

.music-item-active {
    background:rgba(210, 228, 255, 0.432);
}

.music-item:hover, .music-item-active {
    background:rgba(210, 228, 255, 0.432);
}

.info-padding {
    width:1vw;
}

.music-item-title {
    width:24vw;
}

.music-item-artist {
    width:14vw;
}

.music-item-album {
    width:14vw;
}

.music-item-options {
    position:relative;
    float:left;
    height:50px;
    width:5vw;
    margin:0;
    padding:0;
}

.options-container {
    display:none;
    position:absolute;
    height:140px;
    width:150px;
    bottom:45px;
    left:50%;
    transform:translate(-50%, -10px);
    margin:0;
    padding:0;
    background:rgba(62, 61, 107);
    border-radius:5px;
    -webkit-box-shadow: 0px 10px 37px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 37px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 37px -4px rgba(0,0,0,0.75);
}

.options-container-visible {
    display:block;
}

.options-container-inner {
    position:relative;
    height:140px;
    width:150px;
    margin:0;
    padding:0;
}

.tail {
    position:absolute;
    bottom:0;
    left:50%;
    height:28px;
    width:28px;
    border-radius:1px;
    transform:translate(-50%,15px) rotate(45deg);
    background:rgba(62, 61, 107);
}

.options-list {
    position:absolute;
    height:120px;
    width:150px;
    top:50%;
    left:0;
    transform:translate(0,-50%);
    margin:0;
    padding:0;
}

.options-list div {
    position:relative;
    height:40px;
    width:150px;
    line-height:40px;
    text-align:center;
    font-size:16px;
    color:rgb(225, 221, 255);
    margin:0;
    padding:0;
    cursor:pointer;
}

.options-list div:hover {
    color:rgb(134, 151, 247);
}

.music-item-options img {
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    height:25px;
    width:25px;
    cursor:pointer;
}

.music-item:hover .music-item-options img {
    display:block;
}

.music-item-active .music-item-options img {
    display:block;
}

.music-item-options img:hover {
    opacity:0.5;
}

.now-playing {
    position:absolute;
    height:10vh;
    width:100vw;
    bottom:0;
    left:0;
    margin:0;
    padding:0;
    background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
    background:rgb(22, 44, 78);
    background: linear-gradient(rgb(38, 73, 124), rgb(22, 44, 78));
    z-index:10;
}

.now-playing-inner {
    position:relative;
    height:10vh;
    width:100vw;
    margin:0;
    padding:0;
}

.song-info-outer, .media-controls, .media-options {
    position:absolute;
    top:0;
    height:10vh;
    margin:0;
    padding:0;
}

.song-info {
    left:0;
}

.song-album-cover {
    position:relative;
    height:10vh;
    width:15vh;
    float:left;
    margin:0;
    padding:0;
}

.song-album-cover img {
    position:absolute;
    height:9vh;
    width:9vh;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    background:rgba(255, 255, 255, 0.308);
}

.song-info {
    position:relative;
    height:10vh;
    float:left;
    margin:0;
    padding:0;
}

.song-title, .song-artist {
    height:5vh;
    text-align:left;
    color:#fff;
}

.song-title {
    font-size:18px;
    line-height:6vh;
}

.song-artist {
    font-size:16px;
    line-height:4vh;
    opacity: 0.7;
}

.media-controls {
    width:35vw;
    left:50%;
    transform:translate(-50%,0);
}

.media-controls-inner {
    position:relative;
    height:10vh;
    width:35vw;
    margin:0;
    padding:0;
}

.control-buttons {
    position:absolute;
    height:6vh;
    top:0;
    left:50%;
    transform:translate(-50%,0);
    margin:0;
    padding:0;
}

.control-disabled {
    opacity:0.5;
}

.skip-back, .toggle-play, .skip-forward {
    position:relative;
    height:7vh;
    width:30px;
    float:left;
    margin:0;
    padding:0;
}

.skip-back img, .toggle-play img, .skip-forward img {
    position:absolute;
    top:50%;
    transform:translate(0, -50%);  
    height:25px;
    width:25px;
    cursor:pointer;
}

.skip-back img {
    right:20px;
}

.skip-forward img {
    left:20px;
}

.toggle-play img {
    left:50%;
    transform:translate(-50%, -50%);
    height:30px;
    width:30px;
}

.skip-back img:hover, .skip-forward:hover, .toggle-play:hover {
    opacity:0.5;
}

.seek-outer {
    position:absolute;
    display:flex;
    flex-direction:row;
    align-items:center;
    width:35vw;
    height:4vh;
    top:5.5vh;
    margin:0;
    padding:0;
}

.current-time, .song-time {
    height:20px;
    line-height:20px;
    text-align:center;
    font-size:14px;
    color:#fff;
    flex-grow:1;
}

.seek-bar {
    height:5px;
    background:rgb(60, 82, 182);
    border-radius:2px;
    flex-grow:20;
    cursor:pointer;
}

.seek-bar-inner {
    position:relative;
    float:left;
    height:5px;
    width:0%;
    background:rgb(74, 219, 255);
    border-radius: 2px;
    margin:0;
    padding:0;
    transition:width 0.05s linear;
}

.media-options {
    right:0;
    padding-right:50px;
}

.queue, .shuffle, .loop {
    position:relative;
    height:10vh;
    width:40px;
    float:right;
    margin:0;
    padding:0;
}

.disabled {
    opacity:0.5;
}

.queue img, .shuffle img, .loop img {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height:20px;
    width:20px;
    margin:0;
    cursor:pointer;
}

.volume {
    position:relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    height:10vh;
    width:10vw;
    float:right;
    margin:0 15px;
    padding:0;
}

.volume-icon {
    width:10px;
    flex-grow:1;
    margin:0 5px;
    cursor:pointer;
}

.volume-bar {
    height:5px;
    border-radius: 2px;
    background:rgb(60, 82, 182);
    flex-grow: 10;
    cursor:pointer;
}

.volume-bar-inner {
    position:relative;
    float:left;
    height:5px;
    width:100%;
    border-radius: 2px;
    background:rgb(112, 255, 172);
    margin:0;
    transition:width 0.05s linear;
}


